body{
    background-color: darkseagreen;
}


nav{
    margin: 12px;
    padding: 8px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#nav{
    margin-right: 60px;
}

label{
    font-weight: bold;
}

#Withdrawl-form{
    display: none;
    
}

button{
    background-color: cornflowerblue;
    color: white;
    width: 150px;
    height: 75px;
    border-radius: 7px;
    border-color: wheat;
}